/* site stylesheet */
html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {

}

h1 {
  margin: 0;
}

img {
  width: 100%;
}

.banner {
  min-height: 90vh;
  background: url("../images/parasal.jpg") no-repeat center center;
  background-size: 100%;
}

.banner-header {
  font-size: 5rem;
  color: white;
  text-shadow: 2px 2px #349EB6;
}

/* TODO: create scrollable and top stick header */
header {
  min-height: 10vh;
  width: 100%;
  background-color: blue;
}

header nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 10vh;
  justify-content: center;
  align-content: center;
}

.nav-link {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
}

.nav-link:hover {
  border: 1px solid white;
}

main {
  display: grid;
  min-height: 500px;
}

.section-header {
  text-align: center;
  grid-area: "header";
}

/* -----------------------Projects----------------------- */

.projects {
  margin: 0 auto;
  width: 80%;
  border-bottom: 1px solid black;
  display: grid;
  grid-template-areas:
  "oasis"
  "minesweeper"
  "barter"
  "recipe"
}

.project {
  height: auto;
  max-height: 11rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  overflow: hidden;
  opacity: .8;
  transition: max-height .5s cubic-bezier(0.91,-0.99, 0.7,-0.81);
}

.project:hover {
  opacity: 1;
}

.project.open {
  height: auto;
  max-height: 15rem;
  opacity: 1;
}

/* .project:nth-child(even) {
  direction: rtl;
} */

.project > *:first-child { transform: translateX(-100%); }
.project.open-active > *:first-child { transform: translateX(0); }
.project > *:last-child { transform: translateX(100%); }
.project.open-active > *:last-child { transform: translateX(0); }

.project > * {
  transition: transform .7s;
}

.project-text {
  height: 100%;
  display: flex;
  align-items: center;
  text-align: left;
  background-color: white;
  border-top: 1px solid black;
  padding: 20px;
}

.project-img {
  display: flex;
  align-items: center;
}

#Oasis-MBS {
  grid-area: oasis;
  background: url("../images/Oasis-image.png") no-repeat center 30%;
  background-size: 100%;
}

#Minesweeper {
  grid-area: minesweeper;
  background: url("../images/minesweeper-image.jpg") no-repeat center center;
  background-size: 100%;
}

#Barter {
  grid-area: barter;
  background: url("../images/Barter-image.png") no-repeat center center;
  background-size: 100%;
}

#RecipeBook {
  grid-area: recipe;
  background: url("../images/Recipe-image.png") no-repeat center top;
  background-size: 100%;
}

/* --------------------About---------------------- */
.about {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.about-text {
  display: flex;
  flex-direction: column;
  padding: 40px;
  line-height: 2;
}

.about-img {
  padding: 20px
}

.about-img img {
  border-radius: 50%;
}

footer {
  min-height: 200px;
  width: 100%;
  background-color: red;
}

.contact-nav {
  width: 50%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.contact-header {
  text-align: center;
}
