/* site stylesheet */
body {
  height: 2000px;
}

h1 {
  margin: 0;
}

.banner {
  min-height: 90vh;
  background: url("../images/parasal.jpg") no-repeat center center;
  background-size: 100%;
}

.banner-header {
  font-size: 5rem;
  color: white;
  margin-top: 20px;
  text-shadow: 2px 2px #349EB6;
}

/* TODO: create scrollable and top stick header */
header {
  min-height: 10vh;
  width: 100%;
  background-color: blue;
}

main {
  min-height: 500px;
  background-color: lightgreen;
}

footer {
  min-height: 200px;
  width: 100%;
  background-color: red;
}
